main {
    width: 45%;
    margin-left: auto; 
    margin-right: auto;
}

#buttonContainer {
    display: flex;
    justify-items: center;
}

h2 {
    display: block;
}

.card-img-top {
    width: 50%;
    height: 10%;
    object-fit: cover; 
}