

.firstContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.secondContainer{
        display: flex;
        flex-direction: column;
}

.firstImageContainer{
    display: flex;
    justify-content: center;
}

.firstImage {
    height: 50vh;
    width: auto;
}

.mainText{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.inputText{
    font-size: 0.8rem;
}

.form-control{
    height: 5vh;
}

.btn{
    font-size: 0.8rem;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1rem;
}

.card {
    border: 0;
    height: 49rem;


}

.card img {
    object-fit: scale-down;
    height: 30%;
    width: auto;
}



